{% load static %}


<div class="help-about">
  <section class="help">
    <div class="img">
      <h1 class="img-h1">
        We are here to help 24/7.<br />
        <span>here your phone number ... </span>
      </h1>
      <div class="input">
        <form id="join-us" class="all-input" method="post" action="{% url 'home2' %}">
          {% csrf_token %}
          <input type="text" name="call_number">
          <button class="btn" type="submit">Get help</button>
        </form>
      </div>
    </div>
    <div class="img-2">
      <img src="{% static './images/tr 5.png' %}" alt="tr.png' %}" />
    </div>
  </section>
</div>
    
<footer class="footer-distributed">
  <div class="footer-left">
    <h1 class="footer-h1">WePro <br> <span>Auto-transport</span></h1>
    <br>
    <p class="footer-company-name">Company Name © 2015</p>
  </div>

  <div class="footer-center">
    <div>
      <!-- <i class="fa fa-map-marker"></i> -->
      <i class="fa-solid fa-location-dot" style="color: #74C0FC;"></i>
      <p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
    </div>
    <br>
    <div class="footer-iconn">
      <!-- <i class="fa fa-phone"></i> -->
      <i class="fa-solid fa-phone fa-2xl" style="color: #74C0FC;"></i>
      <p>+1.555.555.5555</p>
    </div>
    <br>
    <div>
      <!-- <i class="fa fa-envelope"></i> -->
      <i class="fa-solid fa-envelope fa-2xl" style="color: #74C0FC;"></i>
      <p><a href="mailto:support@company.com">support@company.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      our vehicle transport is an easy and straightforward 
    </p>

    <div class="footer-icons">
      <a href="#"><img src="{% static './images/icon/instagram.svg' %}" alt=""></i></a>
      <a href="#"><img src="{% static './images/icon/facebook.svg' %}" alt=""></a>
      
    </div>
  </div>
</footer>
