{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WePro | About Us</title>
    <link rel="stylesheet" href="{% static './/styles/style.css' %}" />
    <link rel="icon" href="{% static '/images/icon/logo.svg' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/dist/boxicons.js"
      integrity="sha512-kWH92pHUC/rcjpSMu19lT+H6TlZwZCAftg9AuSw+AVYSdEKSlXXB8o6g12mg5f+Pj5xO40A7ju2ot/VdodCthw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i"
      rel="stylesheet" />
  </head>
  <body>
    <a href="#" id="up">
      <p>&#8593;</p>
    </a>
    <div id="down"></div>
    <header class="header">
      {% include 'includes/navbar.html'%}

      <div class="performan_bc_blog">
        <!-- img -->
        <h1 class="bc_title_blog">
          WePro-Autotransport has grown into an authority in the auto shipping industry 
        </h1>
      </div>
    </header>
    <div class="about_us">
      <div class="introduction">
        <h1 class="intro_h1">About Company</h1>

        <p class="intro_p">
          You can trust that WePro Auto Transport Inc. We will get your vehicle
          delivered safely and on-time.
        </p>

        <p class="intro_p">
          WePro Auto Transport Inc. specializes in moving automotive vehicles
          from one location to another. Our job responsibilities include loading
          each vehicle onto a specialized trailer. We handle the delivery of
          multiple cars during each trip. In addition to ensuring that the load
          is secure, we makes sure that the auto transport trailer meets safety
          standards and weight restrictions.
        </p>

        <p class="intro_p">
          We are committed to providing our customers with quality service. We
          will work closely with you to develop the best logistics plan for your
          supply chain.
        </p>

        <button class="intro_btn">contact us</button>
      </div>
      <div class="about_contacts">
        <div class="contact_panel">
          <div class="panel_inner">
            <h3 class="panel_h3">email</h3>
            <p class="panel_p">support@weproautotransport.com</p>
            <br />
            <h3 class="panel_h3">phone</h3>
            <p class="panel_p">+1(424)337-6424</p>
          </div>
          <br />
          <p class="panel_p panel-ppp">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>

    <div class="about-news">
      <div class="text-hr text-hr--double">
        <span class="text-hr__text">01</span>
      </div>
      <!-- <p class="c-keyline-text">1</p> -->
      <div class="about-news-card">
        <div class="about-news-text-h1">
          <h1>Customer support</h1>
        </div>
        <div class="about-news-text-p">
          <p>
            In the realm of auto transportation, customer support plays a
            pivotal role in ensuring a smooth and stress-free experience for
            vehicle owners. Our dedicated customer support team is committed to
            addressing all your queries and concerns, whether you're shipping a
            single car or an entire fleet. With a profound understanding of the
            intricacies of the automotive logistics industry, our experts are
            equipped to guide you through the entire process, from booking to
            delivery, while keeping you informed every step of the way. We take
            pride in our ability to provide timely and personalized assistance,
            making your auto transportation experience as seamless as possible.
          </p>
        </div>
      </div>
      <div class="text-hr text-hr--double">
        <span class="text-hr__text">02</span>
      </div>
      <!-- <p class="c-keyline-text">2</p> -->
      <div class="about-news-card">
        <div class="about-news-text-h1">
          <h1>Promptness</h1>
        </div>
        <div class="about-news-text-p">
          <p>
            Promptness is our priority in auto transportation. We're dedicated
            to delivering your vehicles on time, whether it's one car or a whole
            fleet. With meticulous planning, reliable carriers, and advanced
            tracking technology, we ensure your vehicles arrive promptly and in
            excellent condition, giving you peace of mind throughout the
            transportation process.
          </p>
        </div>
      </div>
      <div class="text-hr text-hr--double">
        <span class="text-hr__text">03</span>
      </div>
      <!-- <p class="c-keyline-text">3</p> -->
      <div class="about-news-card">
        <div class="about-news-text-h1">
          <h1>Professionalism</h1>
        </div>
        <div class="about-news-text-p">
          <p>
            Professionalism is the cornerstone of our auto transportation
            service. We understand the value of your vehicles, and our
            commitment to treating them with the utmost care and attention is
            unwavering. Our highly trained and experienced team, along with our
            network of trusted carriers, ensures that every aspect of the
            transportation process is conducted with the highest level of
            professionalism. From precise scheduling to transparent
            communication and safe handling, you can trust us to transport your
            vehicles with the professionalism they deserve, making us a top
            choice in the auto transportation industry.
          </p>
        </div>
      </div>

      <div class="text-hr text-hr--double">
        <span class="text-hr__text">04</span>
      </div>
      <!-- <p class="c-keyline-text">4</p> -->
      <div class="about-news-card">
        <div class="about-news-text-h1">
          <h1>Reliability</h1>
        </div>
        <div class="about-news-text-p">
          <p>
            Reliability is the cornerstone of our auto transportation service.
            We take pride in our unwavering commitment to providing a
            trustworthy and consistent experience for our customers. With a
            network of dependable carriers, advanced tracking systems, and a
            track record of safe and secure deliveries, you can rely on us to
            transport your vehicles with the utmost care and professionalism.
          </p>
        </div>
      </div>
      <div class="text-hr text-hr--double">
        <span class="text-hr__text">05</span>
      </div>
      <!-- <p class="c-keyline-text">5</p> -->
      <div class="about-news-card">
        <div class="about-news-text-h1">
          <h1>Clarityx</h1>
        </div>
        <div class="about-news-text-p">
          <p>
            In the world of auto transportation, clarity is paramount. We are
            dedicated to offering our customers unambiguous, transparent
            information about all facets of their vehicle's transportation
            process. This includes precise pricing, reliable shipping schedules,
            and detailed tracking updates, reinforcing our commitment to keeping
            you well-informed at all stages of your vehicle's journey. Your
            peace of mind is our foremost concern, and our unwavering dedication
            to clear communication is an integral part of our auto
            transportation service
          </p>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html'%}
    <script src="{% static './js/acc.js' %}"></script>
    <script src="{% static './js/top.js' %}"></script>
  </body>
</html>
